.contact {
  text-align: center;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table {
  width: 300px;
  text-align: start;
  margin-top: 16px;
  font-size: 12px;
  table-layout: fixed;
}
table {
  min-width: 100%;
}
td {
  min-width: 100px;
}

th {
  text-align: left;
}

.open {
  color: #388e3c;
}
.telephone {
  color: #1976d2;
}
